<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/dashboard/">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet">
    <link href="../static/css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet">
    <title>Contacts</title>
</head>
<body>
    <nav class="navbar navbar-dark fixed-top bg-dark  flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 p-2 mr-0 text-center" style="color: #f8f9fa; font-size: 22px" th:href="@{/contacts/list}" href="#">Cont@cts</a>
        <div class="navbar-nav col-sm-3 col-md-2 pl-4 mr-auto" style="color: #f8f9fa; font-size: 22px" th:text="${view}">New contact</div>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">Sign out</a>
            </li>
        </ul>
    </nav>
    <main>
        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#" th:href="@{addContact}">
                                    <span data-feather="home"></span>
                                    Add contact
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" th:href="@{/contacts/list}">
                                    <span data-feather="file"></span>
                                    Main page
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <div>
                        <div th:if="${contact.id == null}">
                            <form action="#" th:action="@{/contacts/saveContact}" method="post" th:object="${contact}">
                                <input type="hidden" th:field="*{id}"/>
                                <input type="text" th:field="*{firstName}" class="form-control mt-4 mb-4 col-4" placeholder="First Name"
                                       required/>
                                <input type="text" th:field="*{lastName}" class="form-control mt-4 mb-4 col-4" placeholder="Last Name"
                                       required/>
                                <input type="email" th:field="*{email}" class="form-control mt-4 mb-4 col-4" placeholder="Email"
                                       required/>
                                <input type="text" th:field="*{phoneNumber}" class="form-control mt-4 mb-4 col-4" placeholder="Phone Number"
                                       required/>
                                <input type="text" th:field="*{tag}" class="form-control mt-4 mb-4 col-4" placeholder="tag1, tag2..."
                                       required/>
                                <input type="submit" class="btn btn-outline-secondary col-2 mb-1" value="Save"/>
                            </form>
                        </div>

                        <div th:if="${contact.id != null}">
                            <form action="#" th:action="@{/contacts/updateContact}" method="post" th:object="${contact}">
                                <input type="hidden" th:field="*{id}"/>
                                <input type="text" th:field="*{firstName}" class="form-control mt-4 mb-4 col-4" placeholder="First Name"
                                       required/>
                                <input type="text" th:field="*{lastName}" class="form-control mt-4 mb-4 col-4" placeholder="Last Name"
                                       required/>
                                <input type="email" th:field="*{email}" class="form-control mt-4 mb-4 col-4" placeholder="Email"
                                       required/>
                                <input type="text" th:field="*{phoneNumber}" class="form-control mt-4 mb-4 col-4" placeholder="Phone Number"
                                       required/>
                                <input type="text" th:field="*{tag}" class="form-control mt-4 mb-4 col-4" placeholder="tag1, tag2..."
                                       required/>
                                <input type="submit" class="btn btn-outline-secondary col-2 mb-1" value="Update"/>
                            </form>
                        </div>

                    </div>
                </main>

            </div>
        </div>
    </main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>