<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/dashboard/">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet">
    <link href="../static/css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet">
    <title>Contacts</title>
</head>
<body>

<nav class="navbar navbar-dark fixed-top bg-dark  flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 p-2 mr-0 text-center" style="color: #f8f9fa; font-size: 22px" th:href="@{/contacts/list}" href="#">Cont@cts</a>

    <form action="#" th:action="@{search}" method="get" class="input-group">
        <input class="form-control form-control-dark" type="text" placeholder="Search" name="search" aria-label="Search">
        <div class="input-group-append">
            <button class="btn btn-outline-light" value="Search">Search</button>
        </div>
    </form>

    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
        </li>
    </ul>
</nav>



<!--<form action="#" th:action="@{search}" method="get">-->
    <!--<div class="input-group input-group-sm mt-3">-->
        <!--<div class="input-group-prepend">-->
            <!--<button class="btn btn-outline-info" value="Search">Search</button>-->
        <!--</div>-->
        <!--<input type="search" name="firstName" placeholder="First Name" class="form-control" aria-describedby="inputGroup-sizing-sm">-->
    <!--</div>-->
<!--</form>-->



<main>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="#" th:href="@{addContact}">
                                <span data-feather="home"></span>
                                Add contact
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" th:href="@{/contacts/list}">
                                <span data-feather="file"></span>
                                Main page
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Labels</span>
                        <a class="d-flex align-items-center text-muted" href="#">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <!--<div class="col">-->
                        <!--<ul th:each="contact: ${contacts}" th:object="${contact}" class="nav flex-column mb-2">-->
                            <!--<li class="nav-item">-->
                                <!--<a href="${updateLink}" class="btn btn-outline-secondary btn-sm">Edit</a>-->
                            <!--</li>-->
                            <!--<li class="nav-item">-->
                                <!--<a href="${updateLink}" class="btn btn-outline-secondary btn-sm">Edit</a>-->
                            <!--</li>-->
                            <!--<li class="nav-item"><a th:each="s: ${contact.tags}" href="${updateLink}" th:text="${s.tagName}" class="btn btn-outline-secondary btn-sm">Edit</a></li>-->
                        <!--</ul>-->
                    <!--</div>-->

                    <ul th:each="tag: ${tags}" th:object="${tag}" th:remove="all-but-first" class="nav flex-column mb-2">
                        <li class="nav-item">
                            <p class="nav-link m-0 pt-1 pb-1">
                                <span data-feather="file-text"></span>
                                <a href="#" th:href="@{/contacts/list(tag=*{tagName})}" th:text="*{tagName}" class="btn btn-outline-secondary btn-sm">Edit</a>
                            </p>
                        </li>
                        <li class="nav-item">
                            <p class="nav-link m-0 pt-1 pb-1">
                                <span data-feather="file-text"></span>
                                <a href="${updateLink}" class="btn btn-outline-secondary btn-sm">Edit</a>
                            </p>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div>

                    <!--<form action="#" th:action="@{search}" method="get">-->
                    <!--<div class="input-group input-group-sm mt-3">-->
                    <!--<div class="input-group-prepend">-->
                    <!--<button class="btn btn-outline-info" value="Search">Search</button>-->
                    <!--</div>-->
                    <!--<input type="search" name="firstName" placeholder="First Name" class="form-control" aria-describedby="inputGroup-sizing-sm">-->
                    <!--</div>-->
                    <!--</form>-->


                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Phone Number</th>
                                <th>Labels</th>
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="contact: ${contacts}" th:object="${contact}" >
                                <td th:text="*{firstName}" class="pt-3">John</td>
                                <td th:text="*{lastName}"  class="pt-3">Snow</td>
                                <td th:text="*{email}"  class="pt-3">john.snow@gmail.com</td>
                                <td th:text="*{phoneNumber}"  class="pt-3">798-355-244</td>
                                <td  class="pt-3">
                                    <a th:each="s: ${contact.tags}" href="#" th:href="@{/contacts/list(tag=${s.tagName})}" th:text="${s.tagName}" class="btn btn-outline-secondary btn-sm">Edit</a>
                                </td>
                                <td class="text-center pt-3">
                                    <a href="#" th:href="@{updateContact/(theId=${contact.id})}" class="btn btn-outline-primary btn-sm">Edit</a>
                                    <a href="#" th:href="@{deleteContact/(theId=${contact.id})}" class="btn btn-outline-danger btn-sm" onclick="if (!(confirm('Are you sure you want to delete this contact?'))) return false">Delete</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>
        </div>
    </div>
</main>








<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="dashboard.js"></script></body>
</body>
</html>